<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

    <div class="container">

        <h1>Todo List</h1>

        <!-- Todo 입력 영역 -->
        <div class="todo-input">
            <input type="text" id="todo-title" placeholder="할 일을 입력하세요">

            <button id="add-btn">추가</button>
        </div>

        <!-- Todo 목록 -->
        <ul id="todo-list">

        </ul>

    </div>

    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
    <script src="../static/script.js"></script>
</body>
</html>